
@import "__mixin.scss";

.row-container {
	@include clearfix();
}

.row-container {
	max-width: 800px;
	margin: 0 auto; 
}

row {
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-flex-basis: 100%;
    -ms-flex-basis: 100%;
    flex-basis: 100%;
    margin-bottom: 25px;

	column {
		margin: 0;
		padding: 0;
		margin-right: 24px;		
	}

	column:last-child {
		margin-right: 0;
	}

	@for $i from 1 through 12 {
		column[cols="#{$i}"] {
			$width: calc(#{$i} / 12 * 100%);
			width: $width;
		}

		column[offset="#{$i}"] {
			$offset: calc(#{$i} / 12 * 100%);
			margin-left: $offset;
		}
	}
}

row[distribute] {
	-webkit-justify-content: space-around;
	-ms-flex-pack: distribute;
	justify-content: space-around;
}

row[center] {
	-webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
