/*
*	Reset
*	Resets default web styling
*/ 

@import '__mixin.scss';

*,
*:before,
*:after {
	@include box-sizing(border-box);
}

* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

body {
	line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

a {
	text-decoration: none;
	&:active,
	&:hover {
		outline: none;
	}
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
