/* 
*	Typography
*	Imported fonts and font-sizing
*/ 
html {
	font-size: 62.5%;
}

body {
	font-family: $main-font;
	font-size: 1.4rem;
}

h1, h2, h3, h4, h5, h6, p {
	margin-bottom: 1rem;
	font-weight: 300;
}

h1 {
	font-size: 5rem;
}

h2 {
	font-size: 4.2rem;
}

h3 {
	font-size: 3.6rem;
}

h4 {
	font-size: 3rem;
}

h5 {
	font-size: 2.4rem;
}

h6 {
	font-size: 1.5rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	font-weight: 500;
}

p {
	line-height: 1.5;
	font-size: 1.4rem;
}

p.lead {
	font-size: 2rem;
	font-weight: 400;
}

blockquote {
	border-left: 4px solid #ccc;
	padding: 1rem;
	font-size: 2rem;
	margin-bottom: 1rem;

	h1, h2, h3, h4, h5, h6, p {
		font-size: 1.5rem;
		margin: 0;
	}
}

.button {
	color: #fff;
	font: 500 1.2rem $main-font; 
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	display: inline-block;
	padding: 1.4rem 2.5rem;
	background-color: $pippinRed;
	border-radius: 3px;
	cursor: pointer;

	&:hover {
		background-color: darken($pippinRed, 5%);
	}

	&:focus {
		outline: none;
	}
}

ol, ul, dl {
	padding-left: 1rem;

	dt, dd, li {
		margin-bottom: 1rem;
	}

	dt {
		font-weight: 500;
	}
}

ul {
	li {
		list-style: circle inside;
	}
}

ol {
	li {
		list-style: decimal inside;
	}
}

dl {
	dd {
		margin-left: 3rem;
	}
}

form {
	label {
		display: inline-block;
		font: 400 1.8rem $main-font;
		margin-bottom: 1rem;
	}

	label.inline {
		font-size: 1.4rem;
	}

	input[type='checkbox'] {
		margin-right: 0.5rem;
	}

	input[type='text'], textarea {
		display: block;
		width: 100%;
		padding: 1rem;
		margin-bottom: 1.5rem;
		font: 400 1.5rem $main-font;
		border: 1px solid #ccc;
		border-radius: 2px;

		&:focus {
			outline: none;
			border-color: $pippinRed;
		}
	}

	input[type='submit'] {
		margin-top: 1rem;
	}

	textarea {
		min-height: 120px;
	}
}

table {
	margin-bottom: 1rem; 
	width: 100%;
	thead {
		border-bottom: 2px solid #292a2d;
		text-align: left;
		tr {
			th {
				font: 500 1.5rem $main-font;
				padding: 1rem;
			}
		}
	}

	tbody {
		tr {
			td {
				padding: 2rem 1rem;
				border-bottom: 1px solid #ccc;
			}
		}
	}
}